$primary-color: #a70854;
$secondary-color: #cab2b2;
$text-color: #ffffff;
$hover-color: #cc307b;
$active-color: #e976ad;

// Fonts
$font-family-sc: 'IMFellFrenchCanonSC', serif;
$font-family-se: 'IMFellFrenchCanon', serif;

// Font Sizes
$font-size-large: 45px;
$font-size-medium: 18px;

// Misc
$border-radius: 50px;
