.navbar {
  background-color: #cab2b2;
  height: 80px;
  margin: 50px 0;
}

.navbar-brand {
  font-family: IMFellFrenchCanonSC;
  font-weight: 500;
  color: #a70854;
  font-size: 24px;
  @include transition(color);
}

.login-button {
  font-family: IMFellFrenchCanonSC;
  background-color: #a70854;
  color: #fff;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  @include transition(background-color, color);

  &:hover {
    color: #f3d8e8;
    text-decoration: none;
  }
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;

  &:focus,
  .btn-close:focus {
    box-shadow: none;
    outline: none;
  }
}

.nav-link {
  font-family: IMFellFrenchCanon;
  color: #a70854;
  font-weight: 700;
  position: relative;
  @include transition(color);

  &:hover {
    color: #cc307b;
  }

  @media (min-width: 991px) {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 2px;
      background-color: #a70854;
      visibility: hidden;
      @include transition(visibility, 0.3s);
    }

    &:hover::before,
    &.active::before {
      width: 100%;
      visibility: visible;
    }
  }
}
