footer {
    text-align: center;
    padding: 20px;
    color: $primary-color;
    margin-bottom: 10px;
  
    li, ul, a {
      text-decoration: none;
    }
  
    a {
      color: $primary-color;
    }
  }