.social-media {
  text-align: center;

  .redes {
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
    @include transition(transform);

    &:hover {
      transform: scale(1.1);
    }
  }
}