@import '../variables/variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-se;
  color: $primary-color;
}

a {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    color: $hover-color;
  }

  &:active {
    background-color: $active-color;
  }
}