@font-face {
    font-family:IMFellFrenchCanonSC;
    src: url(../entrega-1-/assets/fonts/IMFellFrenchCanonSC-Regular.ttf);
}

@font-face {
    font-family: MFellFrenchCanon;
    src: url(../entrega-1-/assets/fonts/IMFellFrenchCanon-Regular.ttf);
}