@font-face {
    font-family:IMFellFrenchCanonSC;
    src: url(/assets/fonts/IMFellFrenchCanonSC-Regular.ttf);
}

@font-face {
    font-family: IMFellFrenchCanon;
    src: url(/assets/fonts/IMFellFrenchCanon-Regular.ttf);
}