.buttons {
  button {
    border-radius: 50px;
    padding: 10px 30px;
    background-color: #a70854;
    color: #ffffff;
    border: none;
    display: block;
    margin: 10px;
    width: 250px;
    align-items: center;
    @include transition(background-color);

    &:hover {
      background-color: #cc307b;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}